.homeSectionContainer{
    padding: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.midSection{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    width: auto;
    height: 450px;
}