

.sideBarMainContainer{
    width: 20vw;
    height: 100vh;
    background-color: #003176;
    color: white;
    padding: 10px 5px 5px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}

.logoSection{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.logoSection img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.separeterLine{
    margin: 20px auto;
    width: 100%;
    height: 3px;
    background-color: black;
}

.navigations{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footerSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerSection div{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.468);
    padding: 5px;
    font-size: 14px;
    font-weight:500;
    bottom: 10;
}

.footerSection div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: rgb(255, 255, 255);
}